<%-include("components/header.ejs"); -%>

<div class="flex-box-1">
<div class="index-card-container">
<div class="index-card">
<div class="index-card-front">
  <h1 class="err incorrect">Something went wrong - Please go home and try again.</h1>
</div>
</div>
</div>
</div>
<%-include("components/footer.ejs"); -%>
