<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title></title>
    <script src="https://kit.fontawesome.com/fe5a2b3aeb.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Quick Cards | </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          </div>
        </div>
      </nav>
    </header>

    <div class="flex-box-1">
    <div class="index-card-container">
    <div class="index-card">
    <div class="index-card-front shadow">
      <%if(message !== ''){%>
        <h1 class="reset-message"><%=message%></h1>
      <%} else{ %>
      <h1 class="index-text">Enter your email.</h1>
      <form class="update-pw" action="/update" method="post">
        <input class="update-input" type="email" name="email" placeholder="Email">
        <button type="submit" name="button">Submit</button>
      </form>
      <%}%>
      </div>
    </div>
    </div>
    </div>
<%-include("components/footer.ejs"); -%>
